.bg-box{
    width: 100%;
    height: 700px;
    background-color: chartreuse;
    background-image: url(../img/green.png), url(../img/lamp.png), url(../img/ponchik.png), url(../img/ezhik.png), url(../img/pole.webp);
    background-repeat:repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
    background-position:bottom, top, right, left, center;
    background-size: 300px, 40px, 40px, 35px, 50%;
}